<p class="mobile-text">This is a page for mobile device|<a href='/doc/mobile'>?</a></p>
<% for (name in theme.menu) { %>
    <a class="mobile-menu" href="<%- url_for(theme.menu[name]) %>">/*<%= name %>*/</a>
<% } %>
